@inherits LayoutComponentBase
<nav>
    <div class="navbar bg-base-200 shadow-sm">
        <a class="btn btn-ghost text-xl">Including tip</a>
        
    </div>
</nav>
<div id="blazor-error-ui" data-nosnippet class="alert alert-error my-3 max-w-[99vw] mx-auto" role="alert">
    An unhandled error has occurred. :(
    <a href="." class="reload">Reload</a>
    <span class="dismiss cursor-pointer" onclick="()=>document.querySelector('#blazor-error-ui').remove()">🗙</span>
</div>

@Body

