@page "/country"

Seznam zemí

<ul>
    <li><a href="/country/cz">Jáá</a></li>
    <li><a href="/country/de">Jáá</a></li>
    <li><a href="/country/nl">Jáá</a></li>
    <li><a href="/country/us">Jáá</a></li>
</ul>